* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100px;
}

@media screen and (max-width:640px) {
  html {
    font-size: 88.88px;
  }
}

@media screen and (max-width:480px) {
  html {
    font-size: 66.66px;
  }
}

@media screen and (max-width:320px) {
  html {
    font-size: 44.44px;
  }
}


.border-1px {
  position: relative;
}

.border-1px::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ccc;
  width: 100%;
  content: ' ';
}

@media (-webkit-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5) {
  .border-1px::after {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
}

@media (-webkit-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2) {
  .border-1px::after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}

@media (-webkit-device-pixel-ratio: 3),
(min-device-pixel-ratio: 3) {
  .border-1px::after {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33);
  }
}

.img-respone {
  outline-width: 0px;
  vertical-align: top;
  border: 0px;
  display: block;
  max-width: 100%;
  width: 100%;
}

.mainBox {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  height: 100%;
}

.headName {
  height: 40px;
  padding: 0 15px;
}

.headName span {
  display: inline-block;
  font-size: 18px;
  line-height: 40px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.headName span.name {
  width: 100px;
  height: 40px;
  padding-right: 20px;
  text-align: justify;
  float: left;
}

.headName span.name:after {
  content: '.';
  width: 100%;
  display: inline-block;
  overflow: hidden;
  height: 0;
}

.codeBox {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.codeBox .item-eucode {
  text-align: center;
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.codeBox .item-img {
  -webkit-box-flex: 0 0 140px;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 0 0 140px;
  /* OLD - Firefox 19- */
  -webkit-flex: 0 0 140px;
  /* Chrome */
  -ms-flex: 0 0 140px;
  /* IE 10 */
  flex: 0 0 140px;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.img-wrapper {
  padding: 32px 0px 24px 15px;
  width: 128px;
  overflow: hidden;
}

.descInfo {
  font-size: 14px;
  padding: 10px 15px;
  line-height: 22px;
  text-align: justify;

}
.descInfo p{
  margin:0;
}
.foot {
  font-size: 14px;
  line-height: 50px;
  text-align: center;
}